*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.big-heading {
  font-size: 8.6rem;
  font-weight: 800;
}

li a:hover {
  font-weight: 600;
}

.banner {
  max-width: 1440px;
  margin: auto;
  position: relative;
  color: #FFFFFF;
}
.banner .right-content {
  position: absolute;
  top: 30%;
  right: 15%;
  transform: translate(15%, -30%);
}
.banner h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0.5em 0 1.5em;
}

.banner-sm {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5em;
  text-transform: uppercase;
}
.banner-sm h2 {
  font-size: 3.2rem;
  font-weight: 800;
}
.banner-sm p {
  font-size: 1.8rem;
}

.banner-black {
  background-color: #000000;
  color: #FFFFFF;
}

.btn {
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.5em 1.1em;
}

.btn-sm {
  font-size: 1.4rem;
}

.btn-round {
  border: solid 1px #000000;
  border-radius: 5em;
}

.btn-black {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.6em;
  border: 1px solid #F2F2F2;
  border-radius: 3.5em;
  cursor: pointer;
}
.btn-currency p {
  margin-left: 0.3em;
  margin-right: 1em;
}

.card {
  max-width: 225px;
}
.card img {
  max-width: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5em 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  padding: 1em 3em;
  text-transform: uppercase;
  font-size: 1.4rem;
  z-index: 1;
}

.left-nav ul, .right-nav ul, .right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
.left-nav ul .active, .right-nav ul .active, .right-nav .active {
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: auto;
}

section.container {
  padding: 4em 6em;
  text-align: center;
}
section.container h1 {
  font-size: 3.6rem;
  font-weight: 800;
}
section.container p {
  font-size: 1.4rem;
  margin: 1.5em 0 2.5em;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 2em;
}

/* Page Specific */
.benefits ul, .benefits ul li {
  display: flex;
  align-items: center;
}

.benefits {
  background-color: #F2F2F2;
  padding-top: 7em;
}
.benefits ul {
  padding: 1em 4em;
  justify-content: space-between;
  font-size: 1.2rem;
}
.benefits ul li {
  gap: 1.5em;
}

#deals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}
#deals h2 {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#deals span {
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: 0.5em;
}
#deals p {
  font-size: 1rem;
  margin: 0;
}

#vip {
  background: url("../../img/banner-effect.png");
  background-repeat: no-repeat;
  background-color: #000000;
}

#trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#trending .categories {
  margin: auto;
  margin-bottom: 3em;
}
#trending .hashtags a {
  text-transform: none;
}/*# sourceMappingURL=main.css.map */