@use '../abstract' as *;

/* Page Specific */
.benefits ul, .benefits ul li {
    display: flex;
    align-items: center;
}

.benefits {
    background-color: #F2F2F2;
    padding-top: 7em;

    ul{
        padding: 1em 4em;
        justify-content: space-between;
        font-size: 1.2rem;

        li {
            gap: 1.5em;
        }
    }
}


#deals {
    @include flex(center, space-between);    
    text-align: center;
    text-transform: uppercase;

    h2 {
        font-size: 3.2rem;
        font-weight: 600;
        padding: 0.2em;
        @include flex();
    }

    span {
        font-size: 1.8rem;
        font-weight: 800;
        margin-left: 0.5em;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }
}

#trending {
    @include flex(center, center, column);
    
    .categories {
        margin: auto;
        margin-bottom: 3em;
    }

    .hashtags a {
        text-transform: none;
    }
}