@use '../abstract' as *;

.container {
    max-width: 1440px;
    margin: auto;
}

section.container {
    padding: 4em 6em;
}

.d-flex {
    @include flex ();
    gap: 2em;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 2em;
}

.bg-gray {
    background-color: $gray;
}