@use '../abstract' as *;

.banner-sm {
    max-width: 1440px;
    margin: auto;
    @include flex(center, space-evenly);
    padding: 1.5em;
    text-transform: uppercase;

    h2 {
        font-size: 3.2rem;
        font-weight: 800;
    }

    p {
        font-size: 1.8rem;
    }
}

.banner-black {
    background-color: $black;
    color: $white;
}