@use '../abstract' as *;

.btn {
    background-color: $white;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5em 1.1em;
}

.btn-sm {
    font-size: 1.4rem;
}

.btn-round {
    border: solid 1px $black;
    border-radius: 5em;
}

.btn-black {
    background-color: $black;
    color: $white;
}

.btn-currency {
    @include flex();
    padding: 0.6em;
    border: 1px solid $gray;
    border-radius: 3.5em;
    cursor: pointer;

    p{
        margin-left: 0.3em;
        margin-right: 1em;
    }
}