.card {
    max-width: 225px;

    img {
        max-width: 225px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.5em 0;
    }
}