@use '../abstract/colors';

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: colors.$white;    
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.left-nav ul, .right-nav ul, .right-nav {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .active {
        font-weight: 600;
    }
}