@use '../abstract' as *;

header{
    width: 100%;
    position: fixed;
    background-color: $white;    
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: 1.4rem;
    z-index: 1;

    .navigation {
        max-width: $maxWidth;
        margin: auto;
        @include flex(center, space-between);
    }
}

// Adds padding for visibility of header sibling
header + main, header + section {
    padding-top: 7em;
}

.left-nav ul, .right-nav ul, .right-nav {
    @include flex();
    gap: 1.5em;

    .active {
        font-weight: 600;
    }
}