@use '../abstract' as *;

header{
    @include flex(center, space-between);
    width: 100%;
    position: fixed;
    background-color: $white;    
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: 1.4rem;
    z-index: 1;
}

.left-nav ul, .right-nav ul, .right-nav {
    @include flex();
    gap: 1.5em;

    .active {
        font-weight: 600;
    }
}